---
// src/pages/index.astro
return Astro.redirect('/es');
---

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="0;url=/es/" />
        <title>VisionPath</title>
        <script>
            window.location.href = "/es/";
        </script>
        <style>
            /* Fondo negro para que no pegue el flash blanco */
            body { background-color: #000000; color: #000000; }
        </style>
    </head>
    <body>
    </body>
</html>