---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Services from '../../components/Services.astro';
import Projects from '../../components/Projects.astro';
import TechStack from '../../components/TechStack.astro';
import Templates from '../../components/Templates.astro';
import Workflow from '../../components/Workflow.astro';
import Trust from '../../components/Trust.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="VisionPath | Digital Product Studio">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<Workflow />
        <TechStack />
        <Projects />
        <Trust />
        <Templates />
        
        <Footer />
	</main>
</Layout>